<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="top">
  <div class="lead">
    <ul>
      <li><%= link_to "Let's go", "/homepage/index" %></li>
      <li><%= link_to "主页", "/homepage/index" %></li>
      <li><%= link_to "商品列表", "/homepage/shop_list" %></li>
      <li><a id="shop_cart" href="shopping_cart.html">
        <img src="../picture_file/cart.png"/>购物车(<span id="cart_num"></span>)</a></li>
    </ul>
  </div>
</div>
<div class="all_page">
  <div class="good_list">购物清单</div><br/>
  <div id="show_time"><span id="time"></span></div>
  <table border="1" id="lists">
    <thead>
    <tr class="list_top">
      <th id="sort">分类</th><th id="name">名称</th><th id="price">单价（元）</th>
      <th id="unit">单位</th><th id="cart">数量</th><th id="count">小计</th>
    </tr>
    <% @goods.each do |p| %>
    <tr>
      <th><%= p.sort %></th>
      <th><%= p.name %></th>
      <th><%= p.price %></th>
      <th><%= p.unit %></th>
      <th><%= p.count %></th>
      <th><%= p.sum %></th>
    </tr>
    <% end %>
    </thead>
  </table><br/><br/>
  <div class="good_list">赠送商品</div>
  <table border="1" id="free_lists">
    <thead>
    <tr class="middle">
      <th id="oder">分类</th><th id="tag">名称</th><th id="amount">数量</th>
    </tr>
    <% @free_list.each do |m| %>
    <tr>
      <th><%= m.sort %></th>
      <th><%= m.name %></th>
      <th><%= m.count %></th>
    </tr>
    <% end %>
    </thead>
  </table>
  <div class="save_count">节省：<span id="save"><%= %></span></div><br/>
  <div class="all_count">总计：<span id="sum"><%= %></span></div>
  <button class="sure" type="submit" onclick="location.href='shop_list.html'; clear_all()" style = "background-color:rgb(88, 135, 207);color:white;border-radius: 5px">确认</button>
</div>
</body>
</html>
