
<div class="all_pages">
  <div class="good_list">购物清单</div><br/>
  <div id="show_time"><span id="time"></span></div>
  <table border="1" id="lists">
    <thead>
    <tr class="list_top">
      <th id="sort">分类</th><th id="name">名称</th><th id="price">单价（元）</th>
      <th id="unit">单位</th><th id="cart">数量</th><th id="count">小计</th>
    </tr>
    <% @goods.each do |p| %>
        <% if p.free_count.to_i <= 0 %>
            <tr>
              <th><%= p.sort %></th>
              <th><%= p.name %></th>
              <th><%= p.price %></th>
              <th><%= p.unit %></th>
              <th><button id = "GoodDown" ><%= link_to '-','/homepage/reduce_goods?id='+p.id.to_s %></button><input id="GoodAmount" value= '<%= p.count %>' ><button id = "GoodUp" ><%= link_to '+','/homepage/add_goods?id=' + p.id.to_s %></button></th>
              <th><%= p.sum.to_s + '元' %></th>
            </tr>
        <% else %>
            <tr>
              <th><%= p.sort %></th>
              <th><%= p.name %></th>
              <th><%= p.price %></th>
              <th><%= p.unit %></th>
              <th><button id="GoodsDown" ><%= link_to '-','/homepage/reduce_goods?id='+p.id.to_s %></button><input id="GoodsAmount" value= '<%= p.count %>' ><button id = "GoodsUp" ><%= link_to '+','/homepage/add_goods?id=' + p.id.to_s %></button></th>
              <th><%= (p.price * (p.count.to_i - p.free_count.to_i)).to_s + '元（原价：'+ p.sum.to_s + '元）' %></th>
            </tr>
        <% end %>
    <% end %>
    </thead>
  </table><br/><br/>
  <div class="good_list">赠送商品</div>
  <table border="1" id="free_lists">
    <thead>
    <tr class="middle">
      <th id="oder">分类</th><th id="tag">名称</th><th id="amount">数量</th>
    </tr>
    <% @free_list.each do |m| %>
    <tr>
      <th><%= m.sort %></th>
      <th><%= m.name %></th>
      <th><%= m.count %></th>
    </tr>
    <% end %>
    </thead>
  </table>
  <div class="save_count">节省：<span id="save"><%= @save_money %>元</span></div><br/>
  <div class="all_count">总计：<span id="sum"><%= @sum_total %>元</span></div>
  <button class="sure" type ="submit" ><%= link_to '确认',"/homepage/clear_goods"  %></button>
</div>

