<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="top">
  <div class="lead">
    <ul>
      <li><%= link_to "Let's go", "/homepage/index" %></li>
      <li><%= link_to "主页", "/homepage/index" %></li>
      <li><%= link_to "商品列表", "/homepage/shop_list" %></li>
      <li><a id="shop_cart" href="shopping_cart.html">
        <img id="picture" src="../picture_file/shopping71.1.png" style="background-color: #000000"/>购物车(<span id="cart_num"><%= @cart_sum %></span>)</a></li>
    </ul>
  </div>
</div>
<div class="all_page">
  <div class="good_list">商品列表</div>
  <table border="1" id="list">
    <thead>
    <tr>
      <th id="sort">分类</th>
      <th id="name">名称</th>
      <th id="price">单价（元）</th>
      <th id="unit">单位</th>
      <th id="cart"></th>
    </tr>
    <% @list.each do  |p|%>
        <tr>
          <th><%= p.sort %></th>
          <th><%= p.name %></th>
          <th><%= p.price %></th>
          <th><%= p.unit %></th>
          <th><button><%= link_to '加入购物车','/homepage/add_cart?id='+p.id.to_s %></th></button>
        </tr>
    <% end %>
    </thead>
  </table>
</div>
</body>
</html>
