
<div class="all_page">
  <div class="good_list">商品列表</div>
  <table border="1" id="list">
    <thead>
    <tr>
      <th id="sort">分类</th>
      <th id="name">名称</th>
      <th id="price">单价（元）</th>
      <th id="unit">单位</th>
      <th id="cart"></th>
    </tr>
    <% @list.each do  |p|%>
        <tr>
          <th><%= p.sort %></th>
          <th><%= p.name %></th>
          <th><%= p.price %></th>
          <th><%= p.unit %></th>
          <th><button id='<%= p.id %>' onclick = "get_cart_number(this.id)">加入购物车</button></th>
          <!--<th><button><%= link_to '加入购物车', p ,method: :post  %></th></button>-->
        </tr>
    <% end %>
    </thead>
  </table>
</div>

