<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link href="../css_file/lead_bar.css" type="text/css" rel="stylesheet">
  <link href="../css_file/shopping_cart.css" type="text/css" rel="stylesheet">
  <script src="../jQuery/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="../js_file/goods_list.js"></script>
  <script type="text/javascript" src="../js_file/shopping_cart.js"></script>
  <script type="text/javascript" src="../jQuery/jquery-ui-1.11.4/jquery-ui.min.js"></script>
</head>
<body>
<div class="top">
  <div class="lead">
    <ul>
      <li><%= link_to "Let's go", "/homepage/index" %></li>
      <li><%= link_to "主页", "/homepage/index" %></li>
      <li><%= link_to "商品列表", "/homepage/shop_list" %></li>
      <li><a id="shop_cart" href="shopping_cart.html"><img id="picture" src="../picture_file/shopping71.1.png" style="background-color: #000000"/>购物车(<span id="cart_num"></span>)</a></li>
    </ul>
  </div>
</div>
<div class="all_page">
  <div class="good_list">购物清单</div>
  <table border="1" id="lists">
    <thead>
    <tr class="list_top">
      <th id="sort">分类</th><th id="name">名称</th><th id="price">单价（元）</th>
      <th id="unit">单位</th><th id="cart">数量</th><th id="count">小计</th>
    </tr>
    <% @goods.each do |p| %>
    <tr>
      <th><%= p.sort %></th>
      <th><%= p.name %></th>
      <th><%= p.price %></th>
      <th><%= p.unit %></th>
      <th><%= p.count %></th>
      <th><%= p.sum %></th>
    </tr>
    <% end %>
    </thead>
  </table>
  <div class="all_count">总计：<span id="sum"><%= @sum_total%></span></div>
  <button class="git" type="submit" onclick="location.href='pay_list.html'" style = "background-color:rgb(88, 135, 207);color:white;border-radius: 5px">付款</button>
</div>
</body>
</html>
