
<div class="all_page">
  <div class="good_list">购物清单</div>
  <table border="1" id="lists">
    <thead>
    <tr class="list_top">
      <th id="sort">分类</th><th id="name">名称</th><th id="price">单价（元）</th>
      <th id="unit">单位</th><th id="cart">数量</th><th id="count">小计</th>
    </tr>
    <% @goods.each do |p| %>
        <% if p.free_count.to_i >= 1 %>
    <tr>
      <th><%= p.sort %></th>
      <th><%= p.name %></th>
      <th><%= p.price %></th>
      <th><%= p.unit %></th>
      <th><button class = "ReduceGood" id="<%= p.id %>"  onclick = "reduce_goods(this.id)">-</button><input id = "<%= p.id %>GoodNumber"  value="<%= p.count %>" class="GoodNumber"  ><button id="<%= p.id %>" class = "AddGood" onclick = "add_goods(this.id)">+</button></th>
      <th id = "<%= p.id %>save_sum"><%= (p.price * (p.count.to_i - p.free_count.to_i)).to_s + '元（原价：'+ p.sum.to_s + '元）' %></th>
    </tr>
        <% else %>
            <tr>
            <th><%= p.sort %></th>
            <th><%= p.name %></th>
            <th><%= p.price %></th>
            <th><%= p.unit %></th>
              <th><button class = "ReduceGood" id="<%= p.id %>"  onclick = "reduce_goods(this.id)">-</button><input id = "<%= p.id %>GoodNumber"  value="<%= p.count %>" class="GoodNumber"  ><button id="<%= p.id %>" class = "AddGood" onclick = "add_goods(this.id)">+</button></th>
              <th id = "<%= p.id %>self_sum"><%= p.sum.to_s + '元' %></th>
           </tr>
        <% end %>
    <% end %>
    </thead>
  </table>
  <div class="all_counts">总计：<span id="sum"><%= @sum_total %>元</span></div>
  <button class="git" type="submit" ><%= link_to '付款',"/homepage/pay_list" %></button>
</div>
